.header {
  height: 56px;
  display: flex;
  background-color: #202020;
  align-items: center;
  justify-content: space-between;
  padding: 0px 36px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu svg {
  font-size: 24px;
  color: white;
}

.menu img {
  padding-left: 36px;
  height: 24px;
}

.menu h1 {
  color: white;
  font-size: 24px;
}

.search input {
  width: 20rem;
  height: 24px;
  background-color: #0f0f0f;
}

.search button {
}

.button {
  /* padding: 0; */

  /* box-sizing: border-box; */
  /* height: 30px; */
}

.search img {
  width: 65px;
  height: 30px;
  background-color: #252525;
}

.etc {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
}

.etc svg {
  padding: 0px 10px;
}

.etc_button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #3392ff;
  border: 1px solid #3392ff;
  outline: none;
  height: 40px;
}

.etc_button svg {
  font-size: 24px;
}

.etc_button p {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.contentBox {
  display: flex;
  height: 100%;
}
.side_bar {
  width: 250px;
  height: 100%;
  color: #7d7d7d;
  font-weight: 600;
  background-color: #202020;
  overflow: auto;
}

hr {
  border: #7d7d7d59 solid;
  border-width: 1px 0 0 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.side_bar_ul {
  list-style: none;
  padding-left: 0px;
}

.side_bar_li {
  display: flex;
  margin-left: 30px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.side_bar_li svg {
  display: inline-block;
  font-size: 22px;
  margin-right: 40px;
}
svg:not(:root).svg-inline--fa {
  width: 20px;
}

.side_bar_li p {
  margin: 0;
  margin-top: 3px;
  color: rgb(233, 233, 233);
}

.side_bar_li_title h3 {
  margin-left: 30px;
  color: rgb(233, 233, 233);
  font-size: 16px;
}

.side_bar_li_title p {
  margin-left: 30px;
  font-size: 13px;
  font-weight: 600;
}

.content {
  background-color: blue;
  display: flex;
}
