.video {
  /* display: flex; */
  align-items: center;
  cursor: pointer;
  width: 25%;
  list-style: none;
}

.video .title {
  color: white;
  font-weight: 800;
}

.video .channel,
.count {
  margin: 0;
  color: #7d7d7d;
  font-weight: 600;
}

.thumbnail {
  width: 100%;
}
